body {
    background-color: #f8f9fa; /* Branco suave */
    font-family: 'Roboto', sans-serif;
    color: #003366; /* Azul escuro para o texto */
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    max-height: 50px; /* Ajuste a altura conforme necessário */
    max-width: 100px; /* Ajuste a largura conforme necessário */
    width: auto;
    height: auto;
}

.center-bold {
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}



header {
    background-color: #005b96; /* Azul escuro */
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
    text-align: justify;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

h1, h2 {
    color: #005b96;
}

button {
    background-color: #005b96; /* Azul no botão */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.main-title {
    text-align: center;
    font-size: 28px; 
    font-weight: 600; 
    margin-bottom: 30px;
    border-bottom: 2px solid #007bff; /* Linha abaixo do título */
    padding-bottom: 10px;
}

.container {
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}

.chosen-container {
    width: 100% !important;
}

.chosen-container .chosen-single {
    padding: 10px 1%;
    width: 100% !important;
}

.chosen-container .chosen-drop {
    width: 100% !important;
}

.chosen-container .chosen-search input[type='text'] {
    padding: 2px 4% !important;
    width: 90% !important;
    margin: 5px 2%;
}

.divider {
    margin: 20px 0;
    border-bottom: 1px solid #007bff;
}

.custom-file-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}

.reference-item {
    text-align: center; 
    margin-bottom: 20px;
  }


  .reference-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .provider-image {
    max-width: 20px;
    height: auto; 
    margin-left: auto; 
    vertical-align: middle; 
}

.small-image {
    width: 150px; 
    height: auto; 
    margin-left: 20px; 
}

.image-container {
    flex-shrink: 0; 
}
